@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./../../public/fonts/stylesheet.css");
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); */

* {
  font-family: "League Spartan", sans-serif;
}
input[type="file"]::file-selector-button {
  visibility: hidden;
  color: transparent;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  color: transparent;
}

.boxGradient1st {
  background: linear-gradient(
    126deg,
    #1380ff 9.34%,
    rgba(142, 202, 230, 0.9) 89.76%
  );
}

.texto {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

@media (min-width: 720px) {
  .textforHederTitle {
    font-size: 48px;
  }
}

.redfill {
  background: linear-gradient(
    20deg,
    #a4133c 2.85%,
    #eb6b7a 55.19%,
    #a4133c 95.89%
  );
}

.bluefill {
  background: linear-gradient(
    20deg,
    #1e6ac3 17.65%,
    rgba(149, 205, 232, 0.88) 49.95%,
    #5da7fe 77.87%
  );
}

.greefill {
  background: linear-gradient(
    20deg,
    #006d77 2.87%,
    #7bd8d0 55.47%,
    #006d77 96.39%
  );
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "League Spartan", sans-serif; */
}

.max-h-auto.cursor-pointer.drop_box_inner {
  width: 100%;
}

.drop_box_inner label {
  width: 100%;
  display: inline-block;
}

.drop-content-upper {
  padding: 40px 0;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #137fff;
  border-radius: 5px;
  width: 300px;
  background-color: #f8fafd;
}

.drop-content-upper img {
  max-width: 80px;
  margin-bottom: 10px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.wrapper {
  padding: 2rem;
  border-radius: 15px;
}

.sessions {
  position: relative;
}

.sessions .main {
  padding-bottom: 60px;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  border-style: dashed;
  padding-top: 7px;

  &:last-child {
    border: 0px;
    padding-bottom: 0;
  }

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    background: rgb(2, 180, 2);
    border: 1px solid #4ed362;
    border-radius: 50%;
    position: absolute;
    left: -18px;
    top: 14px;
    z-index: 999;
  }
}

.vl {
  position: absolute;
  left: 0;
  border-left: 4px solid #b9bcbf;
  border-style: dashed;
  top: 14px;
  height: 100%;
}

.time {
  color: #2a2839;
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 20px;
  position: relative;
  margin-bottom: 15px;

  @include mobile-and-up {
    font-size: 1rem;
  }

  @include mobile-only {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
  }
}

.time:after {
  content: "";
  width: 60%;
  height: 1px;
  background: #137fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: -6px;
  opacity: 0.5;
}

.sub-header-title {
  color: #a3a3a3;
  font-weight: 600;
  font-size: 16px;
  margin: 4px 0;
}

.time p {
  color: #4f4f4f;
  font-family: "League Spartan";
  line-height: 1.5;
  margin-top: 0.4rem;
  font-size: 20px;

  @include mobile-only {
    font-size: 0.9rem;
  }
}

.docs-list-title {
  color: #4f4f4f;
  font-family: "League Spartan";
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.main .list-documentation {
  padding-left: 23px;
}

.list-documentation li {
  font-weight: 400;
  color: #d3d3d3;
  list-style: disc !important;
}

.account-package-img {
  max-width: 421px;
  height: 250px;
  object-fit: contain;
}
.green-color {
  color: #38b000;
}
.font-11 {
  font-size: 11px !important;
}
.business-page-tier {
  margin-left: auto;
  background: #f0ffff;
  color: #0fa3b1;
  padding: 10px 4px 10px 9px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.business-page-text-color-green {
  color: #38b000;
}
.business-page-grid-gap-50 {
  grid-gap: 50px;
}
.business-page-grid-gap-22 {
  grid-gap: 22px;
}
.business-page-info {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  padding: 20px;
  padding-left: 50px;
  min-height: 152px;
  box-shadow: 0px 1px 52px -5px #00000014;
  width: 84%;
}
.business-page-info .business-page-half-circle {
  width: 115px;
  height: 125px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: -75px;
}
.business-page-info .business-page-green-info {
  background: linear-gradient(270deg, #38b000 -2.01%, rgb(255 255 255) 38.17%),
    linear-gradient(
      304.63deg,
      rgba(48, 130, 9, 0.2) 18.15%,
      rgba(233, 233, 233, 0.112) 79.29%
    );
}
.business-page-info .business-page-blue-info {
  background: linear-gradient(
      270deg,
      #88bfff -0.01%,
      rgba(56, 176, 0, 0.06) 86.17%
    ),
    linear-gradient(
      304.63deg,
      rgba(136, 191, 255, 0.2) 18.15%,
      rgba(233, 233, 233, 0.112) 79.29%
    );
}

.business-page-heading-info {
  text-align: start;
}
.business-page-heading-info p {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #333333;
}
.business-page-heading-info span {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #434343;
}
.business-page-grid-gap-124 {
  column-gap: 124px;
}
.business-page-gray-btn {
  font-size: 16px;
  font-weight: 600;
  color: #a3a3a3;
  border: none;
  border: 1px solid #d9d9d9;
  padding: 6px 10px;
  border-radius: 13px;
  margin-right: auto;
  background-color: #ffffff;
  max-width: 290px;
  width: 100%;
}
.green-btn a {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  color: #38b000;
  border: none;
  border: 1px solid #38b000;
  padding: 5px 17px;
  border-radius: 13px;
  align-items: center;
  background-color: #ffffff;
}
.business-page-info-icon {
  min-width: 37px;
  width: 37px;
  height: 37px;
}
.business-page-from-input {
  width: 100%;
  padding: 35px 41px;
  border: 1px solid #efefef;
  border-radius: 13px;
}
.business-page-from-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  list-style: 18px;
  color: #333333;
}
.business-page-from-box button {
  position: absolute;
  top: 34px;
  right: 42px;
}
.business-page-checkbbox-heading-color {
  color: rgba(0, 47, 135, 1);
}

.business-save-btn button {
  /* padding: 31px, 55px, 31px, 63px; */

  padding: 17px 20px !important;
  max-width: 358px !important;
  width: 100% !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 24px !important ;
  color: #ffffff !important;
  background: linear-gradient(270deg, #78f83d -3.45%, #38b000 100%),
    linear-gradient(
      90deg,
      rgba(83, 231, 14, 0.2) 0%,
      rgba(56, 176, 0, 0.036) 86.93%
    );
  border: none !important;
  border-radius: 24px !important;
  box-shadow: 0px 2px 20px 2px #38b00069;
}
.business-page-checkbox-form {
  margin-top: 10px;
}
.business-page-checkbox-form input {
  width: 23px;
  height: 17px;
  margin-right: 11px;
}
.business-page-checkbox-form label {
  font-size: 12px;
  line-height: 21px;
  color: rgba(163, 163, 163, 1);
}

.business-page-banner-bg-color {
  background-color: rgba(252, 252, 255, 1);
}
.business-page-previous-btn a {
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 13px !important;
  border: 1px solid #d9d9d9 !important;
  background-color: #fff !important;
  color: #a3a3a3 !important;
}

.business-page-edit-btn {
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  color: #a8aaac;
  border: none;
  padding: 1px 16px;
  border-radius: 18px;
  background-color: #f0f0f0;
}
.business-entry-page-indicatesection {
  border: 1px solid #f1f1f1;
  border-radius: 40px;
  text-align: justify;
  font-size: 14px;
}
.business-page-text-color-black {
  color: #333333;
}
.business-page-text-color-gray {
  color: #737373;
}
.business-page-sidebar-border-bottom {
  position: relative;
}
.business-page-sidebar-border-bottom::after {
  content: "";
  height: 58px;
  width: 1px;
  background-color: #e9e9e9;
  position: absolute;
  top: 27px;
  left: 23px;
}
.business-page-sidebar-border-bottom:last-child:after {
  display: none;
}

.business-page-sidebar-sub-heading:last-child {
  color: #38b000;
}
.font-85 {
  font-size: 85px;
}
.max-w-580 {
  max-width: 580px;
}
.font-10 {
  font-size: 10px;
}
.business-page-bg-blue {
  background-color: #1c77ff;
}

@media only screen and (max-width: 1730px) {
  .videoCard {
    width: 14rem;
  }
  .business-main {
    margin-left: 2%;
    width: 96%;
  }
  .business-credit-video-card {
    gap: 25px;
  }
  .business-credit-general-card {
    gap: 50px;
  }
  .business-credit-website-card{
    gap: 2rem;
  }
}
